.header{
    background-color: rgb(40, 178, 77);
    color: rgb(136, 141, 97);
}
.main{
    background-color: rgb(137, 50, 208);
    color: rgb(204, 148, 219);
}
.footer{
    background-color: rgb(178, 139, 40);
    color: rgb(61, 156, 212);
}